image: golang:latest

variables:
  REPO_NAME: git.icinga.com/icingadb/icingadb-connection

before_script:
  - mkdir -p $GOPATH/src/$(dirname $REPO_NAME)
  - ln -svf $CI_PROJECT_DIR $GOPATH/src/$REPO_NAME
  - cd $GOPATH/src/$REPO_NAME
  - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@git.icinga.com/".insteadOf "https://git.icinga.com/"
  - go get -t ./...
  - apt update && apt install -y mysql-server
  - service mysql start
  - mysql < test_db.sql

stages:
  - test
  - coverage

test:
  stage: test
  script:
    - go fmt $(go list ./... | grep -v /vendor/)
    - go vet $(go list ./... | grep -v /vendor/)
    - go test -race $(go list ./... | grep -v /vendor/) -cover

coverage:
  stage: coverage
  script:
    - ./coverage.sh
  artifacts:
    paths:
      - coverage.html
