[Unit]
Description=Icinga DB
After=syslog.target network-online.target icingadb-redis.service mariadb.service

[Service]
Type=simple
KillMode=process
ExecStart=/usr/sbin/icingadb --config /etc/icingadb/icingadb.ini
User=icingadb
Group=icingadb

[Install]
WantedBy=multi-user.target
