name: Docker image

on:
  pull_request: {}
  push:
    branches:
      - main
      - 'support/*'
  release:
    types:
      - published

jobs:
  docker-release:
    if: github.event_name == 'release'
    concurrency: docker-release
    runs-on: ubuntu-24.04

    steps:
      - name: Docker image
        uses: Icinga/docker-icingadb@master
        with:
          dockerhub-token: '${{ secrets.DOCKER_HUB_PERSONAL_TOKEN }}'

  docker:
    if: github.event_name != 'release'
    runs-on: ubuntu-24.04

    steps:
      - name: Docker image
        uses: Icinga/docker-icingadb@master
        with:
          dockerhub-token: '${{ secrets.DOCKER_HUB_PERSONAL_TOKEN }}'
