name: Sync For-Container.md to Docker Hub
on:
  push:
    branches:
      - main
  pull_request: {}  # XXX

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout HEAD
        uses: actions/checkout@v5

      - name: Sync For-Container.md
        uses: oxzi/sync-dockerhub-readme@e8aedf32e56acab7cccb5b04ca2c6986081a9afa

        with:
          username: icingaadmin
          password: '${{ secrets.DOCKER_HUB_PERSONAL_TOKEN }}'
          repository: icinga/icingadb
          readme: ./doc/02-Installation.md.d/For-Container.md
